#header{
	width: 100%;
	height: 40px;
	background-color: #EEEEEE;
	display: flex;
}
#header #headerleft{
	flex:0.5;
	
}
#header #headerleft span{
	font-size: x-small;
	margin-left: 5px;
}

#header #headeright{
	flex: 0.5;
	
	
	
	
}
#header #headeright img{
	height: 15px;
	width: 15px;
}
#header #headeright img:nth-child(1){
	margin-left: 70px;
	margin-top: 8px;
}
 #header #youcelanzimu{
	position: absolute;
	top:50px;
	
} 
 
 